doctype html
html(data-theme=locals.theme, lang="en", data-env=locals.ENV.NODE_ENV) 
    head
        meta(name="viewport", content="width=device-width,initial-scale=1")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(
            rel="preconnect",
            href="https://fonts.gstatic.com",
            crossorigin="use-credential"
        )
        link(
            nonce=locals.cspNonce,
            rel="stylesheet",
            href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
        )
        title= title

        include metadata.pug

        if (timeStamp)
            link(
                nonce=locals.cspNonce,
                rel="prefetch",
                as="style",
                href="/styles/resets.css?t=" + timeStamp
            )
            link(
                nonce=locals.cspNonce,
                rel="prefetch",
                as="style",
                href="/styles/loading.css?t=" + timeStamp
            )
            link(
                nonce=locals.cspNonce,
                rel="prefetch",
                as="script",
                href="/client/htmx.mjs?t=" + timeStamp
            )
            link(
                nonce=locals.cspNonce,
                rel="stylesheet",
                href="/styles/resets.css?t=" + timeStamp
            )
            link(
                nonce=locals.cspNonce,
                rel="stylesheet",
                href="/styles/loading.css?t=" + timeStamp
            )
            link(
                nonce=locals.cspNonce,
                rel="stylesheet",
                href="/client/toast.css?t=" + timeStamp
            )
            script(
                nonce=locals.cspNonce,
                type="module",
                defer,
                src="/client/toast.mjs?t=" + timeStamp
            )
            script(
                nonce=locals.cspNonce,
                type="module",
                defer,
                src="/client/htmx.mjs?t=" + timeStamp
            )
        else
            link(
                nonce=locals.cspNonce,
                rel="prefetch",
                as="style",
                href="/styles/resets.css"
            )
            link(
                nonce=locals.cspNonce,
                rel="prefetch",
                as="style",
                href="/styles/loading.css"
            )
            link(
                nonce=locals.cspNonce,
                rel="prefetch",
                as="script",
                href="/client/htmx.mjs"
            )
            link(
                nonce=locals.cspNonce,
                rel="stylesheet",
                href="/styles/resets.css"
            )
            link(
                nonce=locals.cspNonce,
                rel="stylesheet",
                href="/styles/loading.css"
            )
            link(
                nonce=locals.cspNonce,
                rel="stylesheet",
                href="/client/toast.css"
            )
            script(
                nonce=locals.cspNonce,
                type="module",
                defer,
                src="/client/toast.mjs"
            )
            script(
                nonce=locals.cspNonce,
                type="module",
                src="/client/htmx.mjs"
            )

        block metadata

        if (preloadImages)
            each val in preloadImages
                if (timeStamp)
                    link(
                        rel="preload",
                        as="image",
                        href=val + "?t=" + timeStamp
                    )
                else
                    link(rel="preload", as="image", href=val)
    body
        #loading-indicator.htmx-indicator
            .loading-spinner
        block content
