meta(name="title", content=title)

if (description)
    meta(name="description", content=description)

if (openGraph)
    meta(name="og:title", content=openGraph.title)
    meta(name="og:description", content=openGraph.description)

    if (openGraph.image)
        meta(name="og:image", content=openGraph.image.url)
        meta(name="og:image:secure_url", content=openGraph.image.secureUrl)
        meta(name="og:image:type", content=openGraph.image.type)
        meta(name="og:image:width", content=openGraph.image.width)
        meta(name="og:image:height", content=openGraph.image.height)
        meta(name="og:image:alt", content=openGraph.image.alt)
