extends scaffold/layout.pug

block content
    include components/background.pug

    main.contained(style="width: 100%")
        .text-white.flex.justify-between.gap-4.flex-wrap.items-center
            h1.tracking-wide TODO
            div(style="width: fit-content; height: fit-content")
                if (timeStamp)
                    if (!locals.theme || locals.theme == "system" || locals.theme == "dark")
                        button.show-on-dark.icon(
                            aria-label="Toggle Light Theme",
                            name="changeTheme",
                            hx-put="/change-theme/light",
                            hx-trigger="click",
                            hx-swap="none"
                        )
                            img(
                                src="/assets/images/icon-sun.svg?=" + timeStamp,
                                alt="Sun Icon",
                                width="26",
                                height="26",
                                loading="eager"
                            )
                    if (!locals.theme || locals.theme == "system" || locals.theme == "light")
                        button.show-on-light.icon(
                            aria-label="Toggle Dark Theme",
                            name="changeTheme",
                            hx-put="/change-theme/dark",
                            hx-trigger="click",
                            hx-swap="none"
                        )
                            img(
                                src="/assets/images/icon-moon.svg?=" + timeStamp,
                                alt="Moon Icon",
                                width="26",
                                height="26",
                                loading="eager"
                            )
                else
                    if (!locals.theme || locals.theme == "system" || locals.theme == "dark")
                        button.show-on-dark.icon(
                            aria-label="Toggle Light Theme",
                            name="changeTheme",
                            hx-put="/change-theme/light",
                            hx-trigger="click",
                            hx-swap="none"
                        )
                            img(
                                src="/assets/images/icon-sun.svg",
                                alt="Sun Icon",
                                width="26",
                                height="26",
                                loading="eager"
                            )
                    if (!locals.theme || locals.theme == "system" || locals.theme == "light")
                        button.show-on-light.icon(
                            aria-label="Toggle Dark Theme",
                            name="changeTheme",
                            hx-put="/change-theme/dark",
                            hx-trigger="click",
                            hx-swap="none"
                        )
                            img(
                                src="/assets/images/icon-moon.svg",
                                alt="Moon Icon",
                                width="26",
                                height="26",
                                loading="eager"
                            )
        form#create-new-todo.relative(
            aria-label="A form to create a new todo",
            method="POST",
            hx-post="/add-todo",
            hx-trigger="submit",
            hx-indicator="#loading-indicator",
            hx-swap="none",
            style="margin-block: 1.25rem"
        )
            input.absolute(
                type="submit",
                value="",
                title="Create Todo",
                aria-label="Create Todo"
            )
            label.cursor-text.w-full.p-5.pl-12.focus-within.bg-card.shadow-lg.rounded-sm.flex(
                for="new-todo-input"
            )
                input#new-todo-input.w-full.no-focus(
                    name="todo",
                    type="text",
                    required,
                    minLength="5",
                    placeholder="Create a new todo..."
                )
        .flex.flex-col-rounded-sm.shadow-lg.bg-card.rounded-sm.overflow-hidden
            section.shadow-none.w-full
                h2.sr-only Section of todos
                .overflow-y-auto.flex.flex-col.w-full(
                    hx-get="/get-todos",
                    hx-trigger="newTodo from:body, deleteTodo from:body, updateTodo from:body",
                    hx-include="[name=\"filter-todo-button\"]",
                    hx-indicator="#loading-indicator"
                )
                    include components/list-of-todos.pug
