if (!locals.theme || locals.theme == "system" || locals.theme == "dark")
    .background.show-on-dark
        picture
            if (timeStamp)
                source(
                    srcset="/assets/images/bg-desktop-dark.jpg?t=" + timeStamp,
                    media="(min-width: 768px)"
                )
                img(
                    alt="Background Image",
                    sizes="(min-width: 768px) 768px, 375px",
                    srcset="/assets/images/bg-desktop-dark.jpg?t=" + timeStamp + " 768w, /assets/images/bg-mobile-dark.jpg?t=" + timeStamp + " 375w",
                    style="background-image: url(/assets/images/bg-mobile-dark.jpg?t=" + timeStamp + ");  aspect-ratio: 16/9;",
                    loading="eager",
                    width="1440",
                    height="300"
                )
            else
                source(
                    srcset="/assets/images/bg-desktop-dark.jpg",
                    media="(min-width: 768px)"
                )
                img(
                    alt="Background Image",
                    sizes="(min-width: 768px) 768px, 375px",
                    srcset="/assets/images/bg-desktop-dark.jpg 768w, /assets/images/bg-mobile-dark.jpg 375w",
                    style="background-image: url\(/assets/images/bg-mobile-dark.jpg); aspect-ratio: 16/9",
                    loading="eager",
                    width="1440",
                    height="300"
                )
if (!locals.theme || locals.theme == "system" || locals.theme == "light")
    .background.show-on-light
        picture
            if (timeStamp)
                source(
                    srcset="/assets/images/bg-desktop-light.jpg?t=" + timeStamp,
                    media="(min-width: 768px)"
                )
                img(
                    alt="Background Image",
                    sizes="(min-width: 768px) 768px, 375px",
                    if,
                    (timeStamp),
                    srcset="/assets/images/bg-desktop-light.jpg?t=" + timeStamp + " 768w, /assets/images/bg-mobile-light.jpg?t=" + timeStamp + " 375w",
                    style="background-image: url(/assets/images/bg-mobile-light.jpg?t=" + timeStamp + ");  aspect-ratio: 16/9;",
                    loading="eager",
                    width="1440",
                    height="300"
                )
            else
                source(
                    srcset="/assets/images/bg-desktop-light.jpg",
                    media="(min-width: 768px)"
                )
                img(
                    alt="Background Image",
                    sizes="(min-width: 768px) 768px, 375px",
                    srcset="/assets/images/bg-desktop-light.jpg 768w, /assets/images/bg-mobile-light.jpg 375w",
                    style="background-image: url\(/assets/images/bg-mobile-light.jpg); min-height: 10rem",
                    loading="eager",
                    width="1440",
                    height="300"
                )
